/* Reset CSS básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #292d3e;
    color: #a6accd;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

section, footer {
    padding: 20px 0;
}

h1, h2, p {
    text-align: center;
    color: #c792ea;
    margin-bottom: 40px;
}

/* Estilo para secciones */
section {
    padding-top: 20px;
    margin-top: 20px;
}

/* Estilo del formulario */
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #333755;
    padding: 20px 40px 20px 30px;
    border-radius: 5px;
    margin-bottom: 60px;
}

/* Estilo del footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #292d3e;
    text-align: center;
    padding: 10px 0;
    z-index: 1;
    animation: slideUp 1s;
}

/* Estilo de los campos del formulario */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #a6accd;
    border-radius: 4px;
    background-color: #292d3e;
    color: #a6accd;
}

/* Estilo del botón de enviar */
input[type="submit"] {
    width: 100%;
    background-color: #c792ea;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #a371f7;
}

/* Estilo de enlaces sociales */
.social-icons {
    text-align: center;
    margin-top: 50px;
}

.social-icons a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    background-color: #c792ea;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 0 10px;
}

.social-icons a:hover {
    background-color: #a371f7;
}

/* Añade un nuevo estilo para la sección del header */
.hero {
    background-image: url('../assets/nanashi.jpg');
    background-size: cover;
    background-position: top;
    height: 200vh;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden; /* Añadido para ocultar el desplazamiento horizontal en el parallax */
}

.hero-content {
    top: 40vh;
    position: relative;
    z-index: 1;
    animation: fadeInUp 1s ease-out;
}

.developer-logo {
    width: 200px; /* Ajusta el tamaño según tus preferencias */
    margin-right: 10px; /* Espaciado entre el logo y el texto */
}


.hero h1 {
    font-family: 'Roboto', sans-serif;
    color: #c792ea;
    margin: 0;
    font-size: 3em; /* Aumenté el tamaño del texto para hacerlo más llamativo */
    font-weight: bold; /* Añadí negrita para mayor énfasis */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Añadí sombra para resaltar el texto */
}

.description {
    display: none; /* Oculta la descripción inicialmente */
    color: #fff;
    font-size: 1.2em;
    animation: fadeIn 1s;
    background-color: rgba(41, 45, 62, 0.5); /* Fondo translúcido con un 70% de opacidad */
    padding: 20px; /* Ajusta según tu preferencia */
    border-radius: 10px; /* Añadido para esquinas redondeadas */
    backdrop-filter: blur(8px); /* Efecto de desenfoque */
    max-width: 900px; /* Ajusta el valor según tu preferencia */
    margin-left: auto; /* Centra el elemento horizontalmente */
    margin-right: auto; /* Centra el elemento horizontalmente */
}

/* Estilo del efecto de parallax para la imagen de fondo */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(41, 45, 62, 0.5), rgba(41, 45, 62, 0.8)); 
    z-index: 0;
}

/* Añade un estilo para mostrar la descripción con el desplazamiento */
.hero.active .description {
    display: block;
    margin-top: 400px;
}



/* Estilo del ícono de pluma */
.pen {
    width: 50px;
    height: 50px;
    background-color: #c792ea;
    transform-origin: top center;
    transition: transform 0.5s ease;
}

/* Estilo del ícono de pluma */
.pen1 {
    width: 50px;
    height: 50px;
    background-color: #c792ea;
    transform-origin: top center;
    transition: transform 0.5s ease;
    position: absolute;
    right: 0px;
}

.social-icons a:hover {
    transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
}


@media screen and (max-width: 768px) {
    /* Agrega estilos específicos para pantallas más pequeñas aquí */
    .hero {
        height: auto;
        background-position: center;
    }

    .hero-content {
        top: 20vh;
    }

    .pen {
        display: none; /* Puedes ocultar el ícono de pluma en pantallas más pequeñas */
    }
}


#projects-cont {
    text-align: center;
    padding: 40px 20px; /* Ajusta el padding según tus necesidades */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
  }
  
  .project-card {
    width: 350px; /* Calcula el ancho de cada tarjeta (3 tarjetas en una fila) */
    margin-bottom: 20px; /* Espaciado inferior entre tarjetas */
    background-color: #353b4a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin-right: 10px;
    min-height: 100%;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
  }
  
  .project-card img {
    width: 100%;
    height: auto;
    border-right: 1px solid #444267;
  }
  
  .project-info {
    padding: 10px;
  }
  
  .project-info h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #ffffff;
  }
  
  .project-info p {
    color: #a6accd;
    vertical-align: center;
  }
  
  
  #technologies {
    text-align: center;
    padding: 40px 0;
    overflow: hidden;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 2em;
  }
  
  .technology-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease, background-position-y 0.5s ease;
    background-position-y: 0;
  }
  
  .technology-icons.active {
    margin-left: 25%;
    opacity: 1;
    width: 50%; /* Ajusta el ancho para que ocupe el 50% del contenedor */
    box-sizing: border-box;
    background-position-y: -100px;
  }
  
  .technology-icon {
    margin: 15px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .technology-icon:hover {
    transform: scale(1.1);
  }
  
  .technology-icon i {
    font-size: 3em;
    color: #c792ea;
  }
  
  .technology-icon p {
    margin-top: 10px;
    font-size: 1.2em;
    color: #ffffff;
  }
  