/* Reset CSS básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    -webkit-user-drag: none;
    /* Evita el arrastre de imágenes en navegadores basados en WebKit, como Chrome y Safari */
}

img {
    pointer-events: none;
    /* Evita el arrastre de imágenes */
    user-select: none;
    /* Evita la selección de texto */
    -moz-user-select: none;
    /* Evita la selección de texto en navegadores basados en Gecko, como Firefox */
    -webkit-user-drag: none;
    /* Evita el arrastre de imágenes en navegadores basados en WebKit, como Chrome y Safari */
    -webkit-user-select: none;
    /* Evita la selección de texto en navegadores basados en WebKit, como Chrome y Safari */
}

p,
h3,
h1,
h2 {
    user-select: none;
    /* Evita la selección de texto */
    -moz-user-select: none;
    /* Evita la selección de texto en navegadores basados en Gecko, como Firefox */
    -webkit-user-select: none;
    /* Evita la selección de texto en navegadores basados en WebKit, como Chrome y Safari */
}

h2 {
    font-family: 'Montserrat', monospace;
}

body {
    overflow-x: hidden;
    /* overflow-y: hidden; */
    font-family: 'Arial', sans-serif;
    background-color: #292d3e;
    color: #a6accd;
    animation: fadeIn 1s;
}

header {
    width: 100vw;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

section,
footer {
    padding: 20px 0;
}

h1,
h2,
p {
    text-align: center;
    color: #c792ea;
    margin-bottom: 40px;
}

/* Estilo para secciones */
section {
    padding-top: 20px;
    margin-top: 20px;
}

/* Estilo del formulario */
form {
    user-select: none;
    -webkit-user-select: none;
    max-width: 400px;
    margin: 0 auto;
    background-color: #333755;
    padding: 20px 40px 20px 30px;
    border-radius: 5px;
    margin-bottom: 60px;
}

/* Estilo del footer */
footer {
    position: fixed;
    bottom: 0;
    height: 5%;
    width: 100%;
    background-color: #292d3e;
    text-align: center;
    padding: 10px 0;
    z-index: 1;
    animation: slideUp 1s;
    font-family: 'Cascadia Code', monospace;
}

/* Estilo de los campos del formulario */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #a6accd;
    border-radius: 4px;
    background-color: #292d3e;
    color: #a6accd;
}

/* Desactivar la capacidad de redimensionar y establecer un tamaño fijo para el textarea */
textarea {
    resize: none;
    width: 100%;
    /* Puedes ajustar el ancho según tus preferencias */
    height: 150px;
    /* Puedes ajustar la altura según tus preferencias */
}

/* Estilo cuando el campo está enfocado */
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    box-shadow: #a8a8ff 0 0 20px;
    /* Cambia el color del borde al enfocar el campo */
}

/* Estilo del botón de enviar */
input[type="submit"] {
    width: 100%;
    background-color: #a371f7;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #c792ea;
}

/* Estilo de enlaces sociales */
.social-icons {
    font-size: x-large;
    text-align: center;
    margin-top: 50px;
}

.social-icons a {
    font-size: larger;
    display: inline-block;
    text-decoration: none;
    color: #c792ea;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 0 10px;
}

.social-icons a:hover {
    color: #292d3e;
    background-color: #c792ea;
}

/* Añade un nuevo estilo para la sección del header */
.hero {
    background-image: url('../assets/nanashi.jpg');
    background-size: cover;
    background-position: top;
    height: 200vh;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    /* Añadido para ocultar el desplazamiento horizontal en el parallax */
}

.hero-content {
    /* Asegúrate de que el elemento tenga una posición relativa o absoluta para que GSAP pueda manejar las transformaciones correctamente */
    position: relative;
    top: 37vh;
    z-index: 1;
}

.developer-logo {
    width: 200px;
    /* Ajusta el tamaño según tus preferencias */
    margin-right: 10px;
    /* Espaciado entre el logo y el texto */
}


.hero h1 {
    font-family: 'Roboto', sans-serif;
    color: #c792ea;
    margin: 0;
    font-size: 3em;
    /* Aumenté el tamaño del texto para hacerlo más llamativo */
    font-weight: bold;
    /* Añadí negrita para mayor énfasis */
    text-shadow: 0 0 10px #6a6aff;
    /* Añadí sombra para resaltar el texto */
}

.description {
    display: none;
    width: fit-content;
    text-align: justify;
    /* Oculta la descripción inicialmente */
    color: #fff;
    font-size: 1.2em;
    font-family: 'Cascadia Code', monospace;
    animation: fadeIn 1s;
    background-color: rgba(41, 45, 62, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Fondo translúcido con un 70% de opacidad */
    padding: 20px;
    /* Ajusta según tu preferencia */
    border-radius: 10px;
    /* Añadido para esquinas redondeadas */
    backdrop-filter: blur(8px);
    /* Efecto de desenfoque */
    max-width: 900px;
    /* Ajusta el valor según tu preferencia */
    margin-left: auto;
    /* Centra el elemento horizontalmente */
    margin-right: auto;
    /* Centra el elemento horizontalmente */
}

/* Estilo del efecto de parallax para la imagen de fondo */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(41, 45, 62, 0.5), rgba(41, 45, 62, 0.8));
    z-index: 0;
}

/* Añade un estilo para mostrar la descripción con el desplazamiento */
.hero.active .description {
    display: block;
    margin-top: 400px;
}



/* Estilo del ícono de pluma */
.pen {
    width: 50px;
    height: 50px;
    background-color: #c792ea;
    transform-origin: top center;
    transition: transform 0.5s ease;
}

/* Estilo del ícono de pluma */
.pen1 {
    width: 50px;
    height: 50px;
    background-color: #c792ea;
    transform-origin: top center;
    transition: transform 0.5s ease;
    position: absolute;
    right: 0px;
}


@media screen and (max-width: 768px) {

    /* Agrega estilos específicos para pantallas más pequeñas aquí */
    .hero {
        height: auto;
        background-position: center;
    }

    .hero-content {
        top: 20vh;
    }

    .pen {
        display: none;
        /* Puedes ocultar el ícono de pluma en pantallas más pequeñas */
    }
}


#projects-cont {
    text-align: center;
    padding: 40px 20px;
    /* Ajusta el padding según tus necesidades */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

.project-card {
    width: 350px;
    /* Calcula el ancho de cada tarjeta (3 tarjetas en una fila) */
    margin-bottom: 20px;
    /* Espaciado inferior entre tarjetas */
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    /* Cambia la dirección del flex a columna */
    justify-content: space-between;
    min-height: fit-content;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: #a8a8ff 0 0 20px;
}

.project-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: filter 0.3s ease;
}

.project-info {
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.project-info h3 {
    padding-top: auto;
    /* Elimina el padding-top */
    margin-top: auto;
    /* Mueve el margen al top */
    padding-top: 5px;
    font-size: 1.5em;
    color: #ffffff;
}

.project-info p {
    font-family: 'Cascadia Code', monospace;
    text-align: center;
    padding: 10px;
    color: #a6accd;
}



.project-card:hover img {
    filter: blur(2px);
    /* Aplica un efecto de desenfoque a la imagen al hacer hover */
}

.project-card {
    position: relative;
    /* Añade posición relativa para posicionar el div superpuesto */
}

.project-card:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    /* Fondo del div superpuesto */
    z-index: 1;
    /* Asegúrate de que esté superpuesto */
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-card:hover::after {
    content: "";
    /* Puedes personalizar el texto que se muestra */
    position: absolute;
    color: #333;
    /* Color del texto */
    z-index: 2;
    /* Asegúrate de que esté superpuesto */
    font-size: 16px;
    font-weight: bold;
}


#technologies {
    text-align: center;
    padding: 40px 0;
    overflow: hidden;
}

h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

.technology-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease, background-position-y 0.5s ease;
    background-position-y: 0;
}


.technology-icons {
    margin-left: 25%;
    opacity: 1;
    width: 50%;
    /* Ajusta el ancho para que ocupe el 50% del contenedor */
    box-sizing: border-box;
    background-position-y: -100px;
}

.technology-icon {
    margin: 15px;
    text-align: center;
    transition: transform 0.3s ease;
}

.technology-icon:hover {
    transform: scale(1.1);
}

.technology-icon i {
    padding: 5px;
    font-size: 3em;
    color: #c792ea;
}
.technology-icon:hover i{
    -webkit-text-stroke: 2px #c792ea; /* Ancho y color del borde del texto para navegadores basados en WebKit */
    text-shadow: 1px  1px 0  #c792ea;
    border-radius: 10px;
    color: #292d3e;
}

.technology-icon p {
    font-family: 'Fira Code', monospace;
    margin-top: 10px;
    font-size: 1.2em;
    color: #ffffff;
}

.ball {
    pointer-events: none;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: gray;
    animation: implode 1s ease-in-out;
    animation-fill-mode: both;
    opacity: .5;
}

@keyframes implode {
    100% {
        transform: scale(0)
    }
}


span.click_pop {
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 100%;
    animation: click_pop 0.3s ease;
    transform: rotate(15deg);
    z-index: 999;
}

@keyframes click_pop {
    0% {
        box-shadow: inset 0 0 0 20px rgba(255, 255, 255, 0.3);
        width: 60px;
        height: 60px;
        margin-top: -30px;
        margin-left: -30px;
        transform: rotate(-30deg);
    }

    100% {
        box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0.2);
        width: 70px;
        height: 70px;
        margin-top: -35px;
        margin-left: -35px;
        transform: rotate(15deg);
    }
}

span.click_pop>span {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    transform: scale(0.9);
    filter: blurY(5px);
    -webkit-filter: blurY(5px);
}

span.click_pop>span:nth-of-type(2) {
    transform: rotate(45deg);
}

span.click_pop>span:nth-of-type(3) {
    transform: rotate(-45deg);
}

span.click_pop>span:last-child {
    transform: rotate(90deg) scale(0.9);
}

span.click_pop>span:before,
span.click_pop>span:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    top: 50%;
    left: -14px;
    margin-top: -1px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.1);
    animation: pop_out_L .3s ease;
    animation-delay: .1s;
}

span.click_pop>span:after {
    left: auto;
    right: -14px;
    animation: pop_out_R .3s ease;
    animation-delay: .1s;
}

@keyframes pop_out_L {
    0% {
        left: 20px;
        width: 2px;
    }

    20% {
        box-shadow: 6px 0 rgba(255, 255, 255, 0.05), -4px 0 rgba(255, 255, 255, 0.05);
    }

    40% {
        width: 10px;
    }

    60% {
        left: -14px;
    }

    100% {
        width: 2px;
    }
}

@keyframes pop_out_R {
    0% {
        right: 20px;
        width: 2px;
    }

    20% {
        box-shadow: 6px 0 rgba(255, 255, 255, 0.05), -4px 0 rgba(255, 255, 255, 0.05);
    }

    40% {
        width: 10px;
    }

    60% {
        right: -14px;
    }

    100% {
        width: 2px;
    }
}

::-webkit-scrollbar {
    width: 10px;
    background: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c792ea;
    border-radius: 15px;
}

/* Estilo para los botones de cambio de idioma con emojis */
.language-buttons {
    z-index: 2;
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
}

.language-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    font-size: 20px; 
}