@font-face {
    font-family: 'Cascadia Code';
    src: local('../assets/fonts/Cascadia.ttf');
    /* Puedes agregar más formatos de fuente aquí, dependiendo de los archivos que tengas disponibles */
}

/* Reset CSS básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    -webkit-user-drag: none;
    /* Evita el arrastre de imágenes en navegadores basados en WebKit, como Chrome y Safari */
}

img {
    pointer-events: none;
    /* Evita el arrastre de imágenes */
    user-select: none;
    /* Evita la selección de texto */
    -moz-user-select: none;
    /* Evita la selección de texto en navegadores basados en Gecko, como Firefox */
    -webkit-user-drag: none;
    /* Evita el arrastre de imágenes en navegadores basados en WebKit, como Chrome y Safari */
    -webkit-user-select: none;
    /* Evita la selección de texto en navegadores basados en WebKit, como Chrome y Safari */
}

p,
h3,
h1,
h2,
a {
    user-select: none;
    /* Evita la selección de texto */
    -moz-user-select: none;
    /* Evita la selección de texto en navegadores basados en Gecko, como Firefox */
    -webkit-user-select: none;
    /* Evita la selección de texto en navegadores basados en WebKit, como Chrome y Safari */
}

h2 {
    font-family: 'Montserrat', monospace;
}

body {
    overflow-x: hidden;
    /* overflow-y: hidden; */
    font-family: 'Arial', sans-serif;
    background-color: #292d3e;
    color: #a6accd;
    animation: fadeIn 1s;
}

header {
    width: 100vw;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

section,
footer {
    padding: 20px 0;
}

h1,
h2,
p {
    text-align: center;
    color: #c792ea;
    margin-bottom: 40px;
}

/* Estilo para secciones */
section {
    padding-top: 20px;
    margin-top: 20px;
}

/* Estilo del formulario */
form {
    user-select: none;
    -webkit-user-select: none;
    max-width: 400px;
    margin: 0 auto;
    background-color: #333755;
    padding: 20px 40px 20px 30px;
    border-radius: 5px;
    margin-bottom: 60px;
}

/* Estilo del footer */
footer {
    position: fixed;
    bottom: 0;
    height: 5%;
    width: 100%;
    background-color: #292d3e;
    text-align: center;
    padding: 10px 0;
    z-index: 1;
    animation: slideUp 1s;
    font-family: 'Cascadia Code', monospace;
}

/* Estilo de los campos del formulario */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #a6accd;
    border-radius: 4px;
    background-color: #292d3e;
    color: #dddfee;
}

/* Desactivar la capacidad de redimensionar y establecer un tamaño fijo para el textarea */
textarea {
    resize: none;
    width: 100%;
    /* Puedes ajustar el ancho según tus preferencias */
    height: 150px;
    /* Puedes ajustar la altura según tus preferencias */
}

/* Estilo cuando el campo está enfocado */
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    box-shadow: #a8a8ff 0 0 20px;
    /* Cambia el color del borde al enfocar el campo */
}

/* Estilo del botón de enviar */
input[type="submit"] {
    width: 100%;
    background-color: #a371f7;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #c792ea;
}

/* Estilo de enlaces sociales */
.social-icons {
    font-size: x-large;
    text-align: center;
    margin-top: 50px;
}

.social-icons a {
    font-size: larger;
    display: inline-block;
    text-decoration: none;
    color: #c792ea;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 0 10px;
}

.social-icons a:hover {
    color: #292d3e;
    background-color: #c792ea;
}

/* Añade un nuevo estilo para la sección del header */
.hero {
    background-image: url('../assets/nanashi.jpg');
    background-size: cover;
    background-position: top;
    height: 200vh;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    /* Añadido para ocultar el desplazamiento horizontal en el parallax */
}

.hero-content {
    /* Asegúrate de que el elemento tenga una posición relativa o absoluta para que GSAP pueda manejar las transformaciones correctamente */
    position: relative;
    top: 37vh;
}

.developer-logo {
    width: 200px;
    /* Ajusta el tamaño según tus preferencias */
    margin-right: 10px;
    /* Espaciado entre el logo y el texto */
}


.hero h1 {
    font-family: 'Roboto', sans-serif;
    color: #c792ea;
    margin: 0;
    font-size: 3em;
    /* Aumenté el tamaño del texto para hacerlo más llamativo */
    font-weight: bold;
    /* Añadí negrita para mayor énfasis */
    text-shadow: 0 0 10px #6a6aff;
    /* Añadí sombra para resaltar el texto */
}

.description {
    text-align: justify;
    /* Oculta la descripción inicialmente */
    color: #fff;
    font-size: 1.2em;
    font-family: 'Cascadia Code', monospace;
}

#hero-description-titulo {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #c792ea;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.hero-description-container {
    position: relative;
    margin-bottom: 300px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: fit-content;
    text-align: justify;
    color: #fff;
    font-size: 1.2em;
    font-family: 'Cascadia Code', monospace;
    background-color: rgba(41, 45, 62, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(8px);
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}


/* Estilo del efecto de parallax para la imagen de fondo */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(41, 45, 62, 0.5), rgba(41, 45, 62, 0.8));
    z-index: 0;
}


/* Estilo del ícono de pluma */
.pen {
    width: 50px;
    height: 50px;
    background-color: #c792ea;
    transform-origin: top center;
    transition: transform 0.5s ease;
}

/* Estilo del ícono de pluma */
.pen1 {
    width: 50px;
    height: 50px;
    background-color: #c792ea;
    transform-origin: top center;
    transition: transform 0.5s ease;
    position: absolute;
    right: 0px;
}


@media screen and (max-width: 768px) {

    /* Agrega estilos específicos para pantallas más pequeñas aquí */
    .hero {
        height: auto;
        background-position: center;
    }

    .hero-content {
        top: 20vh;
    }

    .pen {
        display: none;
        /* Puedes ocultar el ícono de pluma en pantallas más pequeñas */
    }
}


#projects-cont {
    text-align: center;
    padding: 40px 20px;
    /* Ajusta el padding según tus necesidades */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

.project-card {
    width: 300px;
    height: auto;
    /* Calcula el ancho de cada tarjeta (3 tarjetas en una fila) */
    margin-bottom: 20px;
    /* Espaciado inferior entre tarjetas */
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    /* Cambia la dirección del flex a columna */
    justify-content: flex-start;
    gap: 10px;
    min-height: fit-content;
    overflow: hidden;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: #a8a8ff 0 0 20px;
}

.project-card img {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #ffffff;
    transition: filter 0.3s ease;
}

.project-info {
    z-index: 2;
    position: relative;
    top: 0;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    position: relative;
}

.project-info h3 {
    margin-top: auto;
    /* Mueve el margen al top */
    padding-top: 0px;
    font-size: 1.3em;
    color: #ffffff;
}

.project-info p {
    font-family: 'Cascadia Code', monospace;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    position: absolute;
    bottom: -1000%;
    /* Inicialmente, los textos están fuera de la vista, debajo de la tarjeta */
    left: 0;
    width: 100%;
    transition: bottom 0.5s ease-in-out;
    overflow-y: hidden;
}

.project-card:hover p {
    bottom: auto;
    /* Cuando hover, mover los textos hacia arriba (0 significa que estarán visibles) */
    top: auto;
}

.project-card:hover .project-info {
    top: 0;
    padding: auto;
    height: 100%;
}

.project-card:hover img {
    filter: blur(10px);
    /* Aplicar desenfoque a la imagen cuando hover */
}



#technologies {
    text-align: center;
    padding: 40px 0;
    overflow: hidden;
}

h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

.technology-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease, background-position-y 0.5s ease;
    background-position-y: 0;
}


.technology-icons {
    margin-left: 25%;
    opacity: 1;
    width: 50%;
    /* Ajusta el ancho para que ocupe el 50% del contenedor */
    box-sizing: border-box;
    background-position-y: -100px;
}

.technology-icon {
    margin: 15px;
    text-align: center;
    transition: transform 0.3s ease;
}

.technology-icon:hover {
    transform: scale(1.1);
}

.technology-icon i {
    padding: 5px;
    font-size: 3em;
    color: #c792ea;
    text-decoration: none;
}

.technology-icon:hover i {
    color: #292d3e;
    text-shadow: -1px -1px 0 #c792ea, 1px -1px 0 #c792ea, -1px 1px 0 #c792ea, 1px 1px 0 #c792ea;
    border-radius: 15px;
}

.technology-icon::before {
    font-family: 'Fira Code', monospace;
    content: attr(tooltip);
    position: absolute;
    top: 0;
    font-size: 0.9em;
    font-weight: bold;
    z-index: -1;
    opacity: 0;
    pointer-events: auto;
    background: #fff;
    padding: 10px;
    color: #000;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
}

.technology-icon::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    top: 0;
    opacity: 0;
    background: #fff;
    transform: rotate(45deg);
    left: 20%;
    z-index: -2;
    transition: all 0.3s ease-out;
}

.technology-icon:hover::before {
    top: -45px;
    opacity: 1;
}

.technology-icon:hover::after {
    top: -12px;
    opacity: 1;
}


::-webkit-scrollbar {
    width: 10px;
    background: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c792ea;
    border-radius: 15px;
}

/* Estilo para los botones de cambio de idioma con emojis */
.language-buttons {
    height: 60px;
    margin-top: 5px;
    z-index: 2;
    position: fixed;
    top: 0;
    right: 20px;
    display: flex;
}

.language-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    transition: transform 0.3s ease-in-out;
}

.language-buttons button:hover {
    animation: rotateButton 0.6s ease-in-out; /* 2 vueltas en 0.6 segundos */
}

@keyframes rotateButton {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* Barra de Navegación */
.navbar {
    margin-top: 5px;
    width: 50%;
    /* Cambiado para que ocupe el 50% de la página */
    margin-left: 25%;
    /* Alineado en el centro */
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: rgba(41, 45, 62, 0.5);
    /* Color de fondo inspirado en el tono vaporwave/palenight */
    backdrop-filter: blur(10px);
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
    border-radius: 10px;
    /* Radio de borde añadido */
    height: 60px;
    /* Altura fija añadida */
    padding: auto auto 20px 20px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    height: 100%;
    /* Añadido para centrar verticalmente los elementos */
    align-items: center;
}

.navbar a {
    text-align: center;
    /* Centrar el texto dentro del botón */
    text-decoration: none;
    font-family: 'Fira Code', monospace;
    /* Cambiada la fuente a 'Inter' */
    font-size: 1.1em;
    font-weight: bold;
    color: #c792ea;
    /* Color de texto */
}

.navbar li {
    cursor: pointer;
    padding: 10px 10px;
    width: 130px;
    justify-content: center;
    text-align: center;
}

.navbar li:hover {
    background-color: #c792ea;
    border-radius: 50px;
}

.navbar li:hover a {
    color: #292d3e;
}